<div class="sidebar-tag">
        <p>Popular Tags</p>

        <div class="tag-list">
            <!-- <a *ngFor="let tag of tags" 
            (click)="setListTo('all', {tag: tag})"
             class="tag-default tag-pill">
                {{ tag }}
            </a> -->
        </div>

        <!-- <div [hidden]="tagsLoaded">
            Loading tags...
        </div> -->

        <!-- <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
        </div> -->
    </div>