<mat-toolbar class="tootlbar-header">
        <span>Sing Up</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
      </mat-toolbar>
      
<div class="auth-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">{{ title }}</h1>
                <p class="text-xs-center">
                    <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
                    <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
                </p>
                <!-- <app-list-errors [errors]="errors"></app-list-errors> -->
                <form class="form" (ngSubmit)="onSubmit()" [formGroup]="createForm">
                
                    <fieldset [disabled]="isSubmitting">
                    <div class="example-container">
                       
                        <!-- /////////////////////////////////////////NAME////////////////////////////////////////////////// -->
                        <mat-form-field hintLabel="Max 10 characters">
                            <input matInput #name placeholder="Enter Your Name*" formControlName="name">
                            <mat-hint align="end">{{name.value?.length || 0}}/255</mat-hint>

                            <mat-error *ngIf="createForm.controls['name'].errors?.minlength">Minimum 3 charactor
                            </mat-error>
                            <mat-error *ngIf="createForm.controls['name'].errors?.required">this field is required
                            </mat-error>

                        </mat-form-field>
                        <!-- /////////////////////////////////////////EMAIL(UserNAME)////////////////////////////////////////////////// -->

                        <mat-form-field hintLabel="Max 10 characters">
                            <input matInput #email placeholder="Enter Your Email*" formControlName="username">
                            <mat-hint align="end">{{email.value?.length || 0}}/255</mat-hint>

                            <mat-error *ngIf="createForm.controls['username'].errors?.minlength">Minimum 3 charactor
                            </mat-error>
                            <mat-error *ngIf="createForm.controls['username'].errors?.required">this field is required
                            </mat-error>
                            <mat-error *ngIf="createForm.controls['username'].errors?.email">Email not valid</mat-error>

                        </mat-form-field>
                        <!-- /////////////////////////////////////////PASSWORD////////////////////////////////////////////////// -->
                        <mat-form-field hintLabel="Max 10 characters">
                            <input matInput [type]="hide ? 'password' : 'text'" #password
                                placeholder="Enter Your password*" formControlName="password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-hint align="end">{{password.value?.length || 0}}/255</mat-hint>
                            <mat-error *ngIf="createForm.controls['password'].errors?.minlength">Minimum 3 charactor
                            </mat-error>
                            <mat-error *ngIf="createForm.controls['password'].errors?.required">this field is required
                            </mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field hintLabel="Max 10 characters">
                            <input matInput [type]="hide ? 'password' : 'text'" #confirmPassword
                                placeholder="Enter Your confirmPassword*" formControlName="confirmPassword">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-hint align="end">{{password.value?.length || 0}}/255</mat-hint>
                            <mat-error *ngIf="createForm.controls['confirmPassword'].hasError('NoPassswordMatch')">No
                                Maching</mat-error>
                        </mat-form-field> -->


                    

                    </div>
                </fieldset>
                    <button type="submit" [disabled]="createForm.invalid" mat-raised-button
                        color="accent">{{createForm.value._id!==""?'update':'save'}}</button>
                </form>
            </div>

        </div>
    </div>
</div>