<div class="article-preview">

    <div class="card">
        <div class="card-title">
            <app-post-meta [post]="post"> </app-post-meta>
            <span class="grow"></span>
            <div class="l">
                <app-like-button></app-like-button>
            </div>

        </div>
        <a class="preview-link">
            <h1>{{post.title}}  </h1>
            <p>{{post.description | shorten:50}}  </p>
            <a [routerLink]="['/post',post.id]" class="btn-text">Learn more &rarr;</a>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="accent" selected>tag 1</mat-chip>
                <mat-chip color="accent" selected>tag 2</mat-chip>
                <mat-chip color="accent" selected>tag 3</mat-chip>
                <mat-chip color="accent" selected>tag 4</mat-chip>
            </mat-chip-list>

        </a>
    </div>
    <form >
      
    </form>
  
    <!-- <mat-card class="example-card">
                <div class="card-t">
                   <app-post-meta>
                        
                   </app-post-meta>
            
                    <div class="l"><app-like-button></app-like-button></div>
            
                </div>
                 <div class="img-card">
                        <img   src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="img-card-body">

                 </div>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card> -->


    <!-- <app-post-meta>
     
    </app-post-meta>
    <a class="preview-link">
        <h1>article.title </h1>
        <p>article.description </p>
        <span>Read more...</span>
        <ul class="tag-list">
            <li class="tag-default tag-pill tag-outline">
                tag list
            </li>
        </ul>
    </a> -->
</div>